/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i&subset=latin-ext");
/* line 6, ../vendors/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../vendors/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* line 31, ../vendors/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../vendors/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../vendors/_reset.scss */
blockquote, q {
  quotes: none;
}
/* line 39, ../vendors/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../vendors/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, ../sass/main.scss */
body {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  color: #303030;
}

/* line 13, ../sass/main.scss */
.page {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px;
  border: 2px solid #303030;
  height: 100%;
  min-height: calc(100vh - 20px * 2);
  position: relative;
}
/* line 19, ../sass/main.scss */
.page header {
  padding: 20px;
}

/* line 25, ../sass/main.scss */
h1 {
  font-size: 1.25rem;
  font-weight: 700;
}
/* line 28, ../sass/main.scss */
h1 strong {
  font-size: 2rem;
  text-transform: uppercase;
}

/* line 34, ../sass/main.scss */
#map {
  display: block;
  width: 100%;
  height: calc(100% - 88px);
  position: absolute;
  background: #EEEEEE;
}

/* line 2, ../sass/_new.scss */
.upload label {
  display: none;
}
/* line 4, ../sass/_new.scss */
.upload label.current {
  display: block;
}
/* line 8, ../sass/_new.scss */
.upload input {
  display: block;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  border: none;
  background: #fff;
  outline: none;
}
/* line 16, ../sass/_new.scss */
.upload input[type=submit] {
  background: #F1F1F1;
}
/* line 20, ../sass/_new.scss */
.upload.initial {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 4.5em;
  padding: 2em;
}
/* line 32, ../sass/_new.scss */
.upload small {
  font-size: .75em;
  display: inline-block;
  line-height: 1.25em;
  margin: .25em 0 .5em;
}
/* line 38, ../sass/_new.scss */
.upload input[type=file] {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 0;
  left: 0;
  opacity: 0;
}

/* line 47, ../sass/_new.scss */
.complete {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 2.5em;
  padding: 2em;
  display: none;
}
