/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i&subset=latin-ext");
/* line 6, ../bower_components/reset-css/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../bower_components/reset-css/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* line 31, ../bower_components/reset-css/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../bower_components/reset-css/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../bower_components/reset-css/_reset.scss */
blockquote, q {
  quotes: none;
}
/* line 39, ../bower_components/reset-css/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../bower_components/reset-css/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, ../sass/main.scss */
body {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  color: #303030;
}

/* line 13, ../sass/main.scss */
.page {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px;
  border: 2px solid #303030;
  height: 100%;
  min-height: calc(100vh - 20px * 2);
  position: relative;
}
/* line 19, ../sass/main.scss */
.page header {
  padding: 20px;
}

/* line 25, ../sass/main.scss */
h1 {
  font-size: 2rem;
}

/* line 29, ../sass/main.scss */
#map {
  display: block;
  width: 100%;
  height: calc(100% - 88px);
  position: absolute;
  background: #EEEEEE;
}
