/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i&subset=latin-ext");
/* line 6, ../vendors/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../vendors/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* line 31, ../vendors/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../vendors/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../vendors/_reset.scss */
blockquote, q {
  quotes: none;
}
/* line 39, ../vendors/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../vendors/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_template.scss */
#content {
  background: #f0f0f0;
  padding: 20px;
}

/* line 6, ../sass/_template.scss */
.map-list {
  padding: 20px 0 0;
}
/* line 7, ../sass/_template.scss */
.map-list:after {
  content: ' ';
  display: block;
  clear: both;
}
/* line 13, ../sass/_template.scss */
.map-list .tools {
  position: absolute;
  top: 0;
  right: 0;
  height: 2em;
  line-height: 2em;
  padding: 0 .5em;
  color: #000;
  background: #eee;
  text-decoration: none;
  opacity: 0;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 25, ../sass/_template.scss */
.map-list .tools:hover {
  background: #fff;
  color: #666;
}
/* line 30, ../sass/_template.scss */
.map-list li {
  float: left;
  background: #fff;
  margin: 0 20px 20px 0;
  position: relative;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 37, ../sass/_template.scss */
.map-list li:hover {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/* line 39, ../sass/_template.scss */
.map-list li:hover .tools {
  opacity: 1;
}
/* line 45, ../sass/_template.scss */
.map-list img {
  width: 128px;
  height: 128px;
  display: block;
}

/* line 2, ../sass/_tools.scss */
.tools a {
  text-decoration: none;
  color: inherit;
}
/* line 7, ../sass/_tools.scss */
.tools .infos label {
  float: left;
  clear: both;
}
/* line 11, ../sass/_tools.scss */
.tools .infos em {
  color: #ff6996;
}
/* line 15, ../sass/_tools.scss */
.tools h4 {
  padding: 1em 0;
}
/* line 18, ../sass/_tools.scss */
.tools .thumb {
  background: #fff;
}
/* line 21, ../sass/_tools.scss */
.tools .build-cache {
  float: left;
  clear: both;
}
/* line 25, ../sass/_tools.scss */
.tools .build-cache[data-duration]:after {
  content: " (" attr(data-duration) " sec)";
  color: #ff6996;
}
/* line 31, ../sass/_tools.scss */
.tools .zoom-level {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: solid 1px #999;
}
/* line 32, ../sass/_tools.scss */
.tools .zoom-level .col {
  width: 33.33%;
  float: left;
}
/* line 39, ../sass/_tools.scss */
.tools .zoom-level:after {
  content: ' ';
  clear: both;
  display: block;
}
/* line 45, ../sass/_tools.scss */
.tools img.layer {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: top;
}
/* line 53, ../sass/_tools.scss */
.tools .layer-preview {
  text-align: top;
}
/* line 56, ../sass/_tools.scss */
.tools button {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 20px;
  border: none;
  background: #fff;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
  margin: 0 1em 1em 0;
}
/* line 63, ../sass/_tools.scss */
.tools button:disabled {
  background: #eee;
}

/* line 14, ../sass/main.scss */
body {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  color: #303030;
}

/* line 20, ../sass/main.scss */
.page {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px;
  border: 2px solid #303030;
  height: 100%;
  min-height: calc(100vh - 20px * 2);
  position: relative;
}
/* line 26, ../sass/main.scss */
.page header {
  padding: 20px;
}

/* line 32, ../sass/main.scss */
h1 {
  font-size: 1.25rem;
  font-weight: 700;
}
/* line 35, ../sass/main.scss */
h1 strong {
  font-size: 2rem;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
  /* line 32, ../sass/main.scss */
  h1 {
    font-size: .75rem;
  }
  /* line 41, ../sass/main.scss */
  h1 strong {
    font-size: 1rem;
  }
}

@media screen and (max-width: 640px) {
  /* line 46, ../sass/main.scss */
  h2 {
    font-size: .5rem;
  }
}

/* line 52, ../sass/main.scss */
#map {
  display: block;
  width: 100%;
  height: calc(100% - 88px);
  position: absolute;
  background: #EEEEEE;
}

/* line 2, ../sass/_new.scss */
.new fieldset {
  max-width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/_new.scss */
.upload label {
  display: none;
}
/* line 10, ../sass/_new.scss */
.upload label.current {
  display: block;
}
/* line 14, ../sass/_new.scss */
.upload input {
  display: block;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  border: none;
  background: #fff;
  outline: none;
}
/* line 22, ../sass/_new.scss */
.upload input[type=submit] {
  background: #F1F1F1;
}
/* line 26, ../sass/_new.scss */
.upload.initial {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 8.5em;
  padding: 2em;
}
/* line 38, ../sass/_new.scss */
.upload small {
  font-size: .75em;
  display: inline-block;
  line-height: 1.25em;
  margin: .25em 0 .5em;
}
/* line 44, ../sass/_new.scss */
.upload input[type=file] {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 0;
  left: 0;
  opacity: 0;
}

/* line 53, ../sass/_new.scss */
.complete, .waiting {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 2.5em;
  padding: 2em;
  display: none;
}

/* line 66, ../sass/_new.scss */
progress[value] {
  width: 100%;
}
